<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}
{% block content%}
<h2>Login</h2>
<form method="POST">

{% csrf_token %}
<div class="mb-3 bg-secondary">
  <label class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter the username">
</div>

    <div class="mb-3 bg-secondary">
  <label class="form-label">Password</label>
  <input type="password" class="form-control" name="p" placeholder="Enter the password">
</div>

        <div class="mb-3 bg-secondary">
  <input type="Submit" class="form-control">
</div>

</form>
{% endblock %}

