<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}
{% block content%}
<h2>View Books</h2>
<table class="table table-bordered bg-secondary">
    <tr>
        <th>COVER</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>LANGUAGE</th>
        <th>PRICE</th>
        <th>PAGES</th>
        <th>DOCUMENT</th>
        <th>VIEW</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    {% for i in Book %}
    <tr>
        <td><img src="{{i.cover.url}}" class="img-thumbnail" height="150px" width="200px" ></td>
        <td>{{i.title}}</td>
        <td>{{i.author}}</td>
        <td>{{i.language}}</td>
        <td>{{i.price}}</td>
        <td>{{i.pages}}</td>
        <td><a href="{{i.pdf.url}}">Download</a></td>
        <td><a href="{% url 'Books:detail' i.id%}" class="btn btn-danger">view</a></td>
        <td><a href="{% url 'Books:edit' i.id%}" class="btn btn-danger">edit</a></td>
        <td><a href="{% url 'Books:delete' i.id %}" class="btn btn-danger">delete</a></td>
    </tr>
    {% endfor %}
</table>
<!--    <ol>-->
<!--        {% for i in Book %}-->
<!--        <li>-->
<!--        <ul>-->
<!--        <li>Title:{{i.title}}</li>-->
<!--            <li>Author:{{i.author}}</li>-->
<!--            <li>Title:{{i.language}}</li>-->
<!--            <li>Title:{{i.price}}</li>-->
<!--            <li>Title:{{i.pages}}</li>-->
<!--        </ul>-->
<!--</li>-->
<!--        {% endfor %}-->
<!--    </ol>-->


<!--<h2>View Users</h2>-->
<!--<table class="table table-bordered bg-secondary">-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Age</th>-->
<!--        <th>Place</th>-->
<!--        <th>Gender</th>-->
<!--        <th>Email</th>-->
<!--    </tr>-->
<!--    {% for i in Users %}-->
<!--    <tr>-->
<!--        <td>{{i.name}}</td>-->
<!--        <td>{{i.age}}</td>-->
<!--        <td>{{i.place}}</td>-->
<!--        <td>{{i.gender}}</td>-->
<!--        <td>{{i.email}}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->
<!--{% endblock %}-->